<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel= "stylesheet" href="/stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
 <div class="collapse navbar-collapse">
            <ul id="txt" class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
               <% } else { %>
                <li><a>Signed In As <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
               <% } %>
            </ul>
        </div>
    </div>
       </nav>
       
    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
           <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
           <%= success %>
        </div>
        <% } %>
</nav>
