<% include ./partials/header %>
<div id="about" class="col-md-9">
    <div id="abouttn" class="thumbnail">
    <h1 id="h1">About Me</h1>
    </div>
    <div>
        <p>
            My name is Bradley Erasmus. I am an aspiring web developer and python developer,I found my enjoyment 
            for coding through playing video games and just browsing their respective websites, which sparked my
            interests on how things were done from front end and back end which built the website to what they
            invisioned and created. As a young developer I've thoroughly enjoyed writing code and going through the 
            process of debugging issues that came my way, it has helped me considerably with understanding basic error 
            handling skills, and also refactoring of code to make it simpler and more efficient.
        </p>
        <p>
           Something that has really been a joy working with and learning for myself is JavaScript, from the implentation
           and Jquery it's fascinating how powerful the language is. The use of user authentication has been 
           a learning curve for myself with how much one can give to anything from accessing a database or 
           simply making a user able to post something as little as a comment that can only be edited or deleted by them, 
           or a login authentication for a user. 
        </p>
        <p>
           I am excited and passionate to drive and further myself in being able to fully develop a user interface 
           that will bring a even larger array of customization,and making the user interface easily usable and 
           rewarding through making it feel like it is their own. One thing that I would be excited in making is
           a profile where users can make changes to their username which will allow them to differentiate from their
           login username details.
        </p>
        <p>
            Thank you for taking the time to read my about page, any feed back and suggestions will be greatly 
            appreciated and can be sent to <a href="mailto:bradhurflix@gmail.com">bradhurflix@gmail.com</a>. Looking forward to bring further updates with 
            the website and sharing my love for coding with you guys.
        </p>
    </div>
</div>

<% include ./partials/footer %>